body {
	text-align: center;
	min-height: 600px;
}

/*#wrapper {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}*/

#banner {
	height: 236px;
	background: url(/images/mpfBanner.png) no-repeat left top;		
    background-size: contain;
}

.agendaSection{
    border-style: solid;
    border-width:thin;
    padding: 5px;
    text-align: left;
}

.agendaItem{
    border-top-style: dashed;
    border-width: thin;
    padding: 2px;
    
}