<div class="container" style="width:90%; min-width:300px;" ng-controller="calendarCtrl">
    <div>
        <h2>MPF Meeting Calendar</h2>
    </div>

    <section id="directives-calendar">

        <div class="well">
            <div class="row-fluid">


                <div class="span12">

                    <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                        <h4>{{alertMessage}}</h4>
                    </div>
                    <div class="row" >
                        <!--<p class="pull-right lead">Meeting Calendar</p>-->
                        <div class="col-md-3 col-md-offset-9">
                            <button class="btn btn-info btn-sm" ng-click="changeView('agendaDay', 'myCalendar1')">Day</button>
                            <button class="btn btn-info btn-sm" ng-click="changeView('agendaWeek', 'myCalendar1')">Week</button>
                            <button class="btn btn-info btn-sm" ng-click="changeView('month', 'myCalendar1')">Month</button>
                        </div>
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>

                </div>
            </div>
        </div>

    </section>

    <section id="agenda" class="well agendaSection" ng-show="agenda.length>0">
        <h3>Agenda</h3>


        <ul ng-repeat="a in agenda">
            <li>
                
                <span ng-show="a.doc != null"><a href="{{a.doc.source}}" target="_blank"><span class="glyphicon glyphicon-file"></span>{{a.title}}</a></span>
                <span ng-show="a.doc == null">{{a.title}}</span>
            
            </li>
        </ul>
    </section>

</div>
